{% extends "layout.njk" %}

{% block content %}
    <div class="comum_div">

        <form style="position: absolute;width: 790px; " id="form-delete" method="post" action="/admin/recipes/recipes?_method=DELETE" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{recipe.id}}">
            <div style="margin-left: 700px;">
                <button id="del" type="submit">Deletar</button>
            </div>
        </form>
        <form class="form-newrecipe" method="post" action="/admin/recipes/recipes?_method=PUT" enctype="multipart/form-data">
            <div class="adm-recipe">
                <div style="float:left;">
                    <label >Editando receita</label>
                </div>
                <div style="float:right;margin-left:10px">
                    <button id="sav" type="submit">Salvar receita</button>
                </div>
            </div>
            {% include "recipes/fields.njk" %}
            <input type="hidden" name="id" value="{{recipe.id}}">

        </form>

        <script src="/scripts.js"></script>

    </div>

{% endblock %}